# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.Python
instance/
watch_logs.txt
static/latest_capture.jpg

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.metadata
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
__MACOSX/
Thumbs.db
